@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --primary-color: #fd6e0a;
  --bg-color: #fff8f3;
  --dark-01: #181818;
  --dark-02: #474747;
  --dark-03: #757575;
}

/* common shared styles */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

main section {
  margin-top: 130px;
}

h1,
h3 {
  margin: 0;
}
.mr-1 {
  margin-right: 5px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: var(--primary-color);
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700px;
  padding: 18px 35px;
  border-radius: 3px;
}

.title {
  color: var(--dark-01, #181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.description {
  color: var(--dark-03, #757575);
  font-weight: 400;
  line-height: 30px;
}

.fs-18 {
  font-size: 18px;
}

/* navbar styles */
nav {
  padding: 0 200px;
}

header nav ul {
  list-style: none;
}
header nav ul li {
  margin-right: 50px;
}
header nav a {
  text-decoration: none;
  color: var(--dark-02);
}
.nav-title {
  font-size: 45px;
  font-weight: 700;
}
.nav-title > span {
  color: var(--primary-color);
}

/* header related styles */
header {
  background-color: #fff8f3;
}
.banner {
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 800px;
}
.profile-pic {
  width: 500px;
  height: 600px;
  margin-right: 50px;
}
.developer-img {
  width: 70px;
  position: absolute;
  top: 38px;
  left: 38px;
}

.banner-content {
  margin-left: 200px;
}

.banner-content p {
  max-width: 580px;
}
.banner-greeting {
  color: var(--dark-02);
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  color: var(--dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
}
.btn-contact {
  margin-left: 1rem;
  background-color: white;
  color: var(--primary-color);
  outline: 2px solid var(--primary-color);
}

/* main section styles */
main {
  max-width: 1180px;
  margin: 0 auto;
}
/* about section */
.about-section {
  background-color: var(--bg-color);
  padding: 100px;
  margin-top: 130px;
  text-align: center;
}
.info-title {
  color: #757575;
  font-weight: 400;
  line-height: 30px;
}
.info-description {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.about-info {
  margin-top: 30px;
}

/* what i do section styles*/
.skills-container {
  display: flex;
  gap: 24px;
}
.skill-item {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-top: 50px;
}
